# Created by https://www.toptal.com/developers/gitignore/api/java,maven,eclipse,intellij,netbeans,visualstudiocode,jboss,sonarqube,spring
# Edit at https://www.toptal.com/developers/gitignore?templates=java,maven,eclipse,intellij,netbeans,visualstudiocode,jboss,sonarqube,spring

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

### JBoss ###
# Datasources
*-ds.xml

# Drools
*.drla.jar
*.drl.jar
*.dslr.jar
*.kie.jar

# JBoss Drools Guvnor
/.guvnor
/.guvnor-repository

# JBoss jBPM
/.jbpm
/.history

# JBoss Marshalling
# Contains log files, configuration and data such as a history of executed commands
.cli_history
# User-specific configuration files
.jboss-cli-history
jboss-cli.*

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
# Exclude BND files
bnd.bnd
bnd.inputs

# ### SonarQube ### # Comentado pois parece não ser o foco imediato
# .sonar/

### Spring ###
# Ignore Spring Boot jar file
*.jar

# Ignore Spring Boot DevTools
.spring-boot-devtools.properties

# Arquivos de configuração com dados sensíveis (SUA ADIÇÃO AQUI)
src/main/resources/application.properties

# STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Generated by `dotnet new gitignore`